
<div class="row">
  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5>Footer</h5>
        <p>Footer stuff will go in here</p>
      </div>

      <div class="col s6 footer-links">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Crimson</a></li>
          <li><a href="#">Crane</a></li>
          <li><a href="#">Abbot</a></li>
          <li><a href="#">Auburn</a></li>
          <li><a href="#">Robin</a></li>
        </ul>
      </div>

      <div class="center-align col s12 copyright">
        <p>&copy; 2015 Copyright Text</p>
      </div>
    </div>
  </div>
</footer>
</div>
