<table>
  <thead>
    <tr>
      <th data-field="old_url">Old Url</th>
      <th data-field="new_url">New Url</th>
      <th data-field="clicks">Clicks</th>
    </tr>
  </thead>

  <tbody>
    <% @recent_links.each do |f| %>
      <tr>
        <td><%= link_to "#{ truncate f.long_url, length: 18}", f.long_url , :target => "_blank"%></td>
        <td><%= link_to "#{truncate "#{root_url}#{f.short_url}", length: 26 }", "/#{f.short_url}" , :target => "_blank" %></td>
        <td><%= f.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @recent_links, param_name: :recent_links, :remote => true %>


