.bg {
  background-image: url("http://stretched.alphacoders.com/images/371/stretched-371656.jpg?9523");
  background-attachment:fixed;
  background-size: cover;
  height: 40%;
}

#dashboard_bg {
  background-image: image-url("dashboard_bg.jpg");
  background-attachment:fixed;
  background-size: cover;
  height: 40%;
}



.intro
{
    color: #e8e8e8;
    text-align: center;
    padding-top: 07%;
    padding-bottom: 13%;
    margin-bottom: 20px;
}

#over 
{
  background-color: Black;
  opacity:0.7;
  height: 40%;
}


#details-over
{
  background-color: Black;
  height: 16em;
  opacity:0.7;
}

.intro h1
{
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(126, 126, 126, 0.4)

}

.intro p{

}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
    }
    .about .col
{
    margin-bottom: 24px;
}

.about h3,
.container h2
{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;

}

.details{
  padding-top: 3%;
}

.about h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.about hr
{
    width: 700px;
    margin-bottom: 45px;
}

.about .card
{
    text-align: center;
    padding: 10px
}


.submit-form {
  text-align: center;
  display: inline-block;
}



.input-group {
  color: white;
  text-align: center;
}


.row th {
  text-align: center;
}


.row td a {
  text-decoration:none !important;
  color: white !important;
}

.row td a:hover {
  color: #F3E88E !important;
}

