#flash, 
#shortlink {

  display:none;
  font-size: small;
  text-align: center;
  padding: 20px;
  position: fixed;
  font-weight: bold;
  width: 46%;
  margin: 20px;
}

#flash {
  margin-left: 360px;
  background-color: #FFFFCC;
  height: 60px;
  color: black;
}

 
#shortlink {
  height: 100px;
  margin-left: 160px;
  color: white;
  background-color: #167BFF;
}

#shortlink h4 {
  color: white;
}