<div class="url-form">
<b>Paste your long URL here:</b>
<%= form_for(@link, remote: true) do |f| %>
    <div class="input-group center white-text">
      <%= f.url_field :long_url, class:'form-control', placeholder: '', required: true  %>
      <div class="input-group-btn">
        <button class='btn btn-info cut'>cut</button>
      </div>
    </div>
<% end %>
</div>



