// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightblue : #87e0fd;   /* Here's how you assign the values to a variable */
$darkblue : #2cafe3;
$cpad: 20px;    /* Variables are not limited to colors, you can use it to store values too*/

nav {
  background-color: #333;
}

.bg {

  background-image:  url("homepage_bg.jpg");
  background-attachment:fixed;
  height: 60%;
}

.intro
{
  background: #000;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

#over 
{
  background-color:Black;
  opacity:0.7;
  height: 40%;
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.submit-form {
  text-align: center;
  display: inline-block;
}

.about .col
{
    margin-bottom: 24px;
}

.about h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.about h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.about hr
{
    width: 700px;
    margin-bottom: 45px;
}

.about .card
{
    text-align: center;
}

 .page-footer {
  bottom: 0;
  width: 100%;
  background-color: #333;
  box-shadow: 0 0 3px #444;
  color: #fff;
  //margin-top: 65px;
  margin-bottom: 0;
  z-index: -1;

  .footer-links {
    ul {
      li {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    a {
      color: #fff;
    }
  }

  .copyright {
    background-color: #444;
  }
}
